In [1]:


!pip install mysql-connector-python


import mysql.connector as conn

Requirement already satisfied: mysql-connector-python in c:\users\alima\anaconda3\lib\site-packages (8.0.28)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\alima\anaconda3\lib\site-packages (from mysql-connector-python) (3.20.0)

In [2]:


crea_db=conn.connect(host='localhost', user='adri', passwd='password')

cursor=crea_db.cursor()

cursor.execute('drop database if exists tableau;')
cursor.execute('create database tableau;')

db=conn.connect(host='localhost', user='adri', passwd='password', database='tableau')

cursor=db.cursor()